.card_deg_red {
    background: linear-gradient(-45deg,#47001c, #971132);
    border-radius: 1rem;
    font-style: oblique;
    text-align: center;
    color:white;
}
.card_deg_warinig {
    background: linear-gradient(-45deg,#ff2525,#ffe53b );
    border-radius: 1rem;
    font-style: oblique;
    text-align: center;
    color:black;
}
.card_deg_green {
    background: linear-gradient(-45deg,#134032, #3cff85);
    border-radius: 1rem;
    font-style: oblique;
    text-align: center;
    color:white;
}